<h3>Drone Usage Breakdown</h3>
<div id="chart-drone-usage" style="width:100%;"></div>
<script>
    $('#chart-drone-usage').highcharts({
        chart: {
            type: 'pie'
        },
        title: {
            text: null
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: false
                },
                showInLegend: true
            }
        },
        tooltip: {
            pointFormat: 'Usage: {point.y}%'
        },
        series: [{
            type: 'pie',
            data: [
                {% for du in current_user.formatted_drone_usage %}
                    ['{{ du.0 }}', {{ du.1 }}],
                {% endfor %}
            ]
        }]
    });
</script>