<h3>Fleet Statistics</h3>
<table class="table table-striped">
    <tr>
        <td>Avg. Flight Time</td>
        <td>3.4 hours</td>
    </tr>
    <tr>
        <td>Longest Flight</td>
        <td>4.8 hours</td>
    </tr>
    <tr>
        <td>Cum. Flight Time</td>
        <td>123.4 hours</td>
    </tr>
    <tr>
        <td>Highest Flight</td>
        <td>2,301 feet</td>
    </tr>
    <tr>
        <td>Flights Per Month</td>
        <td>65 flights</td>
    </tr>
    <tr>
        <td>Cum. Flights</td>
        <td>368 flights</td>
    </tr>
    <tr>
        <td>Most Efficient Drone</td>
        <td>Parrot AR 2.0</td>
    </tr>
    <tr>
        <td>Most Used Drone</td>
        <td>Micro Drone</td>
    </tr>
    <tr>
        <td>Last Flight</td>
        <td>8/8/2013</td>
    </tr>
</table>