{% extends "base_authed.html" %}

{% block page_description %}
    <strong>Your Analytics:</strong>
    This page renders graphs and statistics based on your previous flight
    data queried from the DroneDeploy API.
{% endblock %}

{% block authenticated_content %}
    <div class="row">

        {# LEFT SIDE MAIN CONTENT ###########}
        <div class="col-md-8">
            {% include 'modules/chart/flights_over_time.html' %}
            {% include 'modules/chart/battery_life_by_drone_type.html' %}
        </div>

        {# RIGHT SIDE ASIDE CONTENT #########}
        <div class="col-md-4">
            {% include 'modules/table/fleet_statistics.html' %}
            {% include 'modules/chart/drone_usage.html' %}
        </div>

    </div>
{% endblock %}