<html>
    <head>
        <title>DroneDeploy Analytics</title>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="static/css/ddanalytics.css" rel="stylesheet">

        <link href="http://fonts.googleapis.com/css?family=Lato:100,300,400" rel="stylesheet" type="text/css">
    </head>
    <body>
        {% block content %}{% endblock %}

        <section id='footer'>
            <div style='float:left;'>
                <strong>Disclaimer:</strong> This is a fake site for entertainment purposes.
            </div>
            <div style='float:right;text-align: right;'>
                Source code can be found on <a href='https://github.com/cooncesean/ddanalytics'>GitHub</a><br />
            </div>
        </section>
    </body>
</html>