{% extends "base_authed.html" %}

{% block page_description %}
    <strong>Your Fleet:</strong>
    This is your fleet (grouped by Drone Type) and our suggestions to
    improve its performance based on global data from all DroneDeploy users.
{% endblock %}

{% block authenticated_content %}
    <h3>Optimize Your Fleet</h3>
    <table class='table table-bordered'>
        <thead>
            <tr>
                <th>
                    Your Fleet
                </th>
                <th>
                    Our Recommendations
                </th>
            </tr>
        </thead>
        <tbody>
            {% for rec in recommendations %}
                <tr>
                    <td>
                        <h4>{{ rec.drone }}</h4>
                        <ul>
                            <li>
                                <strong>Current Battery:</strong> {{ rec.current_spec.battery }}
                            </li>
                            <li>
                                <strong>Current Propellers:</strong> {{ rec.current_spec.propeller }}
                            </li>
                            <li>
                                <strong>Current Motor:</strong> {{ rec.current_spec.motor }}
                            </li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            {% if rec.recommendation %}
                                {% for r in rec.recommendation %}
                                    <li>
                                        <strong>{{ r.type }}:</strong>
                                        <a href='{{ r.link }}' target='_blank'>{{ r.name }}</a>
                                        for a {{ r.benefit }}.
                                    </li>
                                {% endfor %}
                            {% else %}
                                <li>Your current spec is optimized.</li>
                            {% endif %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}